<section class="phx-hero">
  <h1>Welcome to Malarkey</h1>
</section>

<section class="row">
  <article class="column">
    <h2>Games</h2>
    <button phx-click="new_game">New Game+</button>
    <ul>
      <%= for game <- @games do %>
        <li><%= live_redirect("Game #{game.id}", to: Routes.game_path(@socket, :index, game.id)) %></li>
      <% end %>
    </ul>
  </article>
</section>
